<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>A_flat</key>
    <string>A__flat.glif</string>
    <key>Asharp</key>
    <string>A_sharp.glif</string>
    <key>Bflat</key>
    <string>B_flat.glif</string>
    <key>Bsharp</key>
    <string>B_sharp.glif</string>
    <key>Cflat</key>
    <string>C_flat.glif</string>
    <key>Csharp</key>
    <string>C_sharp.glif</string>
    <key>Dflat</key>
    <string>D_flat.glif</string>
    <key>Dsharp</key>
    <string>D_sharp.glif</string>
    <key>Eflat</key>
    <string>E_flat.glif</string>
    <key>Esharp</key>
    <string>E_sharp.glif</string>
    <key>Fflat</key>
    <string>F_flat.glif</string>
    <key>Fsharp</key>
    <string>F_sharp.glif</string>
    <key>Gflat</key>
    <string>G_flat.glif</string>
    <key>Gsharp</key>
    <string>G_sharp.glif</string>
    <key>A7</key>
    <string>A_7.glif</string>
    <key>B7</key>
    <string>B_7.glif</string>
    <key>C7</key>
    <string>C_7.glif</string>
    <key>D7</key>
    <string>D_7.glif</string>
    <key>E7</key>
    <string>E_7.glif</string>
    <key>F7</key>
    <string>F_7.glif</string>
    <key>G7</key>
    <string>G_7.glif</string>
    <key>A9</key>
    <string>A_9.glif</string>
    <key>B9</key>
    <string>B_9.glif</string>
    <key>C9</key>
    <string>C_9.glif</string>
    <key>D9</key>
    <string>D_9.glif</string>
    <key>E9</key>
    <string>E_9.glif</string>
    <key>F9</key>
    <string>F_9.glif</string>
    <key>G9</key>
    <string>G_9.glif</string>
    <key>on</key>
    <string>on.glif</string>
    <key>onA</key>
    <string>onA_.glif</string>
    <key>onAflat</key>
    <string>onA_flat.glif</string>
    <key>onAsharp</key>
    <string>onA_sharp.glif</string>
    <key>onB</key>
    <string>onB_.glif</string>
    <key>onBflat</key>
    <string>onB_flat.glif</string>
    <key>onBsharp</key>
    <string>onB_sharp.glif</string>
    <key>onC</key>
    <string>onC_.glif</string>
    <key>onCflat</key>
    <string>onC_flat.glif</string>
    <key>onCsharp</key>
    <string>onC_sharp.glif</string>
    <key>onD</key>
    <string>onD_.glif</string>
    <key>onDflat</key>
    <string>onD_flat.glif</string>
    <key>onDsharp</key>
    <string>onD_sharp.glif</string>
    <key>onE</key>
    <string>onE_.glif</string>
    <key>onEflat</key>
    <string>onE_flat.glif</string>
    <key>onEsharp</key>
    <string>onE_sharp.glif</string>
    <key>onF</key>
    <string>onF_.glif</string>
    <key>onFflat</key>
    <string>onF_flat.glif</string>
    <key>onFsharp</key>
    <string>onF_sharp.glif</string>
    <key>onG</key>
    <string>onG_.glif</string>
    <key>onGflat</key>
    <string>onG_flat.glif</string>
    <key>onGsharp</key>
    <string>onG_sharp.glif</string>
    <key>slashA</key>
    <string>slashA_.glif</string>
    <key>slashAflat</key>
    <string>slashA_flat.glif</string>
    <key>slashAsharp</key>
    <string>slashA_sharp.glif</string>
    <key>slashB</key>
    <string>slashB_.glif</string>
    <key>slashBflat</key>
    <string>slashB_flat.glif</string>
    <key>slashBsharp</key>
    <string>slashB_sharp.glif</string>
    <key>slashC</key>
    <string>slashC_.glif</string>
    <key>slashCflat</key>
    <string>slashC_flat.glif</string>
    <key>slashCsharp</key>
    <string>slashC_sharp.glif</string>
    <key>slashD</key>
    <string>slashD_.glif</string>
    <key>slashDflat</key>
    <string>slashD_flat.glif</string>
    <key>slashDsharp</key>
    <string>slashD_sharp.glif</string>
    <key>slashE</key>
    <string>slashE_.glif</string>
    <key>slashEflat</key>
    <string>slashE_flat.glif</string>
    <key>slashEsharp</key>
    <string>slashE_sharp.glif</string>
    <key>slashF</key>
    <string>slashF_.glif</string>
    <key>slashFflat</key>
    <string>slashF_flat.glif</string>
    <key>slashFsharp</key>
    <string>slashF_sharp.glif</string>
    <key>slashG</key>
    <string>slashG_.glif</string>
    <key>slashGflat</key>
    <string>slashG_flat.glif</string>
    <key>slashGsharp</key>
    <string>slashG_sharp.glif</string>
    <key>m6</key>
    <string>m6.glif</string>
    <key>m7</key>
    <string>m7.glif</string>
    <key>m9</key>
    <string>m9.glif</string>
    <key>mM7</key>
    <string>mM_7.glif</string>
    <key>M7</key>
    <string>M_7.glif</string>
    <key>M9</key>
    <string>M_9.glif</string>
    <key>aug</key>
    <string>aug.glif</string>
    <key>aug7</key>
    <string>aug7.glif</string>
    <key>augM7</key>
    <string>augM_7.glif</string>
    <key>dim</key>
    <string>dim.glif</string>
    <key>dim7</key>
    <string>dim7.glif</string>
    <key>add9</key>
    <string>add9.glif</string>
    <key>sus4</key>
    <string>sus4.glif</string>
    <key>sus2</key>
    <string>sus2.glif</string>
    <key>omit3</key>
    <string>omit3.glif</string>
    <key>harfDiminish</key>
    <string>harfD_iminish.glif</string>
    <key>Maj</key>
    <string>M_aj.glif</string>
    <key>mMaj7</key>
    <string>mM_aj7.glif</string>
    <key>Maj7</key>
    <string>M_aj7.glif</string>
    <key>Maj9</key>
    <string>M_aj9.glif</string>
    <key>tflat5</key>
    <string>tflat5.glif</string>
    <key>tsharp5</key>
    <string>tsharp5.glif</string>
    <key>tflat9</key>
    <string>tflat9.glif</string>
    <key>t9</key>
    <string>t9.glif</string>
    <key>tsharp9</key>
    <string>tsharp9.glif</string>
    <key>tb11</key>
    <string>tb11.glif</string>
    <key>t11</key>
    <string>t11.glif</string>
    <key>tsharp11</key>
    <string>tsharp11.glif</string>
    <key>tflat13</key>
    <string>tflat13.glif</string>
    <key>t13</key>
    <string>t13.glif</string>
    <key>tminus5</key>
    <string>tminus5.glif</string>
    <key>tplus5</key>
    <string>tplus5.glif</string>
    <key>tminus9</key>
    <string>tminus9.glif</string>
    <key>tplus9</key>
    <string>tplus9.glif</string>
    <key>tminus11</key>
    <string>tminus11.glif</string>
    <key>tplus11</key>
    <string>tplus11.glif</string>
    <key>tminus13</key>
    <string>tminus13.glif</string>
    <key>rep1</key>
    <string>rep1.glif</string>
    <key>rep2</key>
    <string>rep2.glif</string>
    <key>rep3</key>
    <string>rep3.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rep4</key>
    <string>rep4.glif</string>
    <key>dalsegno</key>
    <string>dalsegno.glif</string>
    <key>dacapo</key>
    <string>dacapo.glif</string>
    <key>segno</key>
    <string>segno.glif</string>
    <key>capo</key>
    <string>capo.glif</string>
    <key>fine</key>
    <string>fine.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>roman1</key>
    <string>roman1.glif</string>
    <key>roman2</key>
    <string>roman2.glif</string>
    <key>roman3</key>
    <string>roman3.glif</string>
    <key>roman4</key>
    <string>roman4.glif</string>
    <key>roman5</key>
    <string>roman5.glif</string>
    <key>roman6</key>
    <string>roman6.glif</string>
    <key>roman7</key>
    <string>roman7.glif</string>
    <key>romanflat1</key>
    <string>romanflat1.glif</string>
    <key>romansharp1</key>
    <string>romansharp1.glif</string>
    <key>romanflat2</key>
    <string>romanflat2.glif</string>
    <key>romansharp2</key>
    <string>romansharp2.glif</string>
    <key>romanflat3</key>
    <string>romanflat3.glif</string>
    <key>romansharp3</key>
    <string>romansharp3.glif</string>
    <key>romanflat4</key>
    <string>romanflat4.glif</string>
    <key>romansharp4</key>
    <string>romansharp4.glif</string>
    <key>romanflat5</key>
    <string>romanflat5.glif</string>
    <key>romansharp5</key>
    <string>romansharp5.glif</string>
    <key>romanflat6</key>
    <string>romanflat6.glif</string>
    <key>romansharp6</key>
    <string>romansharp6.glif</string>
    <key>romanflat7</key>
    <string>romanflat7.glif</string>
    <key>romansharp7</key>
    <string>romansharp7.glif</string>
    <key>roman1flat</key>
    <string>roman1flat.glif</string>
    <key>roman1sharp</key>
    <string>roman1sharp.glif</string>
    <key>roman2flat</key>
    <string>roman2flat.glif</string>
    <key>roman2sharp</key>
    <string>roman2sharp.glif</string>
    <key>roman3flat</key>
    <string>roman3flat.glif</string>
    <key>roman3sharp</key>
    <string>roman3sharp.glif</string>
    <key>roman4flat</key>
    <string>roman4flat.glif</string>
    <key>roman4sharp</key>
    <string>roman4sharp.glif</string>
    <key>roman5flat</key>
    <string>roman5flat.glif</string>
    <key>roman5sharp</key>
    <string>roman5sharp.glif</string>
    <key>roman6flat</key>
    <string>roman6flat.glif</string>
    <key>roman6sharp</key>
    <string>roman6sharp.glif</string>
    <key>roman7flat</key>
    <string>roman7flat.glif</string>
    <key>roman7sharp</key>
    <string>roman7sharp.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
